<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbangiay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ManHinhDonHangVanChuyenQuanLyActivity"></activity>
        <activity android:name=".ManHinhDonHangXacNhanQuanLyActivity" />
        <activity android:name=".ManHinhDonHangHuyQuanLyActivity" />
        <activity android:name=".ManHinhDonHangHoanThanhNhanVienActivity" />
        <activity android:name=".ManHinhTinhTrangDonHangActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Manager.MangerShoe" />
        <activity android:name=".Manager.UploadImage" />
        <activity android:name=".Manager.DetailActivity" />
        <activity android:name=".Manager.MainActivity" />
        <activity android:name=".User.NavMainActivity" />
        <activity android:name=".User.RegisterActivity" />
        <activity android:name=".User.LoginActivity" />
        <activity android:name=".User.MemberActivity" />
        <activity android:name=".Employee.DanhSachDonHangActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Employee.DanhSachXacNhanDonHangActivity" />
        <activity android:name=".Employee.DanhSachHuyDonHangActivity" />
        <activity android:name=".Manager.DanhSachTaoNhanVienActivity" />
        <activity android:name=".Manager.DanhSachQuanLyNhanVienActivity" />
    </application>

</manifest>