<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appbangiay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".User.ViewAllActivity"></activity>
        <activity android:name=".User.MyAddressesActivity" />
        <activity
            android:name=".User.AddressActivity"
            android:theme="@style/RedProgressbar" />
        <activity android:name=".User.DeliveryActivity" />
        <activity android:name=".User.OrderDetailsActivity" />
        <activity android:name=".User.CategoryActivity" />
        <activity android:name=".User.ProductDetailActivity" />
        <activity
            android:name=".User.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User.RegisterActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>